{% extends "layout.html"%}
{% block content%}

<div id="map"></div>
<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 800px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
    <script>
    var globalMap;
    var markers = [];
    var increment = 0;
    function initMap()
    {
        var Aarhus = {lat: 56.1629, lng: 10.2039};
        globalMap = new google.maps.Map(document.getElementById('map'), {zoom: 12, center: Aarhus});
        setInterval(setMarker, 5000);
    }
    function setMarker()
    {
      deleteMarkers();
      console.log(getData())
      {% for post in posts %}
      var x = {{post.x}};
      var y = {{post.y}};
      var bicycle = {lat: x, lng: y};
      var marker = new google.maps.Marker({position: bicycle, map: globalMap, title: "{{post.name}}" });
      marker.setMap(globalMap);
      markers.push(marker);
      {% endfor %}
    }
    function getData()
    {
      var names = [];
      {% for item in map_data()%}
        names.push({{item.x}});
      {%endfor%}
      return names;
    }
    function deleteMarkers()
    {
      for (var i = 0; i < markers.length; i++)
      {
        markers[i].setMap(null);
      }
      markers = [];
    }
    </script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdpjLyPIWGT6BWAqpTBBNknZGPenAo7DA&callback=initMap">
    </script>
    <script type = "type/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<br>
<br>
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <br>
                <br>
                <legend class="border-bottom mb-10">Add your data</legend>
                <div class="form-group">
                    {{ form.nameData.label(class="form-control-label") }}:
                    {{ form.nameData(class="form-control form-control-lg" , autocomplete="off") }}
                </div>
                <div class="form-group">
                    {{ form.xData.label(class="form-control-label") }}
                    {{ form.xData(class="form-control form-control-lg" , autocomplete="off") }}
                </div>
                <div class="form-group">
                    {{ form.yData.label(class="form-control-label") }}
                    {{ form.yData(class="form-control form-control-lg" , autocomplete="off") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content%} <!-- The content part is not necessary it is just to keep track of what block is being ended -->
