<html>
<head>
<title>My Sample</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript">
var new_num = 40; // global variable
jQuery(document).ready(function(){
  var response = $.getJSON('/test', function (data) {
  });
  var finalJson = response;

  console.log(finalJson["name"]);
});
</script>
</head>
<body>

	<p>Hello</p>

	<p>World</p>

	<div id="countme">0</div>

	<a href="http://api.jquery.com/">Learn more about jQuery's methods</a>

</body>
</html>
