<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="button" onclick='location.href="/"'>Log out</button>
<p> Hi Admin! </p>

<script type = "type/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>

<div>
<form method="POST" action="">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-10">Change users credits</legend>
                <div class="form-group">
                    {{ form.usernameData.label }}:
                    {{ form.usernameData }}
                </div>
                <div class="form-group">
                    {{ form.creditsData.label }}:
                    {{ form.creditsData }}
                </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit }}
                </div>

        </form>
</div>

<br><br>
<button class="button" onclick='location.href="/admin_into_file"'>Save database into file</button>

<br><br><br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>
