<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add credits</title>
</head>
<body>
<button>
 <a href="/user_profile">  Back </a>
</button>
<script type = "type/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>

<div>
<form method="POST" action="">
            <fieldset class="form-group">
                <br>
                <br>
                <legend class="border-bottom mb-10">Add credits to your !</legend>
                <div class="form-group">
                    {{ form.creditsData.label }}:
                    {{ form.creditsData }}
                </div>

                </fieldset>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>
</div>
<br><br><br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>